## Apache Spark

C'est un framework de calcul distribué

**Quelques Applications :**

- E-Commerce : Shoppify
- Applications comme MyFitnessPal
- Web : Yahoo

<br>

<hr>

<br>

**ARCHITECTURE**
- Stockage : Base de SQL et NoSQL 
- Gestion des ressourses : Gestionnaire de Cluster et Worker
- Moteur de Traitement : Infrastructure informatique distribué
- Ecosysteme : Spark Core, Spark SQL, MLib, Spark Streaming, GraphiX
- API : Scale, java, python R, SQL

<hr>

- Spark Core : Composant fondamental, Répartition des taches, gestion des taches
- Spark SQL : Manipulation des données
- Spark MLib : Module determiné au machine learning
- Spark GraphX : ...

# INSTALLATION

In [1]:
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-2.3.1/spark-2.3.1-bin-hadoop2.7.tgz
!tar xf spark-2.3.1-bin-hadoop2.7.tgz
!pip install -q findspark

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Hit:3 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:4 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Ign:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease [1,581 B]
Get:7 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:9 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:11 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:12 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:13 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,533 kB]
Get:14 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [910 kB]
Get:15 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,937 kB]
Get:17 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,311 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,369 kB]
Get:19 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [2,095 kB]
Get:20 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [1,073 kB]
Fetched 14.5 MB in 4s (3,804 kB/s)
Reading package lists... Done

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.3.1-bin-hadoop2.7"

In [3]:
!ls

sample_data  spark-2.3.1-bin-hadoop2.7	spark-2.3.1-bin-hadoop2.7.tgz

In [4]:
import findspark
findspark.init()
from pyspark import SparkContext

sc = SparkContext.getOrCreate()
sc

In [5]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate() 
spark

# Données

### Creer un dataframe

In [6]:
import pyspark.sql.functions as F
from pyspark.sql.types import *

In [7]:
schema = StructType().add("id_utilisateur","string").add("pays","string").add("profession", "string").add("genre",'string').add("age", "integer")
df = spark.createDataFrame([("A123",'Maroc',"Médecin","Femme", 33), ("B234",'Canada',"Entrepreneur","Femme",35), ("C345",'France',"Professeur", "Homme",40)], schema = schema)

In [8]:
df.show()

+--------------+------+------------+-----+---+
|id_utilisateur|  pays|  profession|genre|age|
+--------------+------+------------+-----+---+
|          A123| Maroc|     Médecin|Femme| 33|
|          B234|Canada|Entrepreneur|Femme| 35|
|          C345|France|  Professeur|Homme| 40|
+--------------+------+------------+-----+---+

In [9]:
df.printSchema()

root
 |-- id_utilisateur: string (nullable = true)
 |-- pays: string (nullable = true)
 |-- profession: string (nullable = true)
 |-- genre: string (nullable = true)
 |-- age: integer (nullable = true)

### Charger des données

In [10]:
from google.colab import files
files.upload()

Saving 03_03_data.csv to 03_03_data.csv

{'03_03_data.csv': b'Pays;2005;2006;2007;2008;2009;2010;2011;2012;2013;2014;2015;2016;2017;2018\r\nAllemagne;7,2;8,5;10,1;10,1;10,9;11,7;12,5;13,6;13,8;14,4;14,9;14,9;15,5;16,5\r\nAutriche;24,4;26,3;28,2;28,9;31;31,2;31,6;32,7;32,8;33,7;33,5;33,4;33,1;33,4\r\nBelgique;2,3;2,6;3,1;3,6;4,7;5,6;6,3;7,2;7,5;8;8;8,7;9,1;9,4\r\nBulgarie;9,2;9,4;9,1;10,3;12;13,9;14,2;15,8;18,9;18,1;18,3;18,8;18,7;20,5\r\nChypre;3,1;3,3;4;5,1;5,9;6,2;6,3;7,1;8,5;9,2;9,9;9,9;10,5;13,9\r\nCroatie;23,7;22,7;22,2;22;23,6;25,1;25,4;26,8;28;27,8;29;28,3;27,3;28\r\nDanemark;16;16,3;17,7;18,5;20;21,9;23,4;25,5;27,2;29,3;30,8;31,8;34,7;35,7\r\nEspagne;8,4;9,1;9,7;10,7;13;13,8;13,2;14,3;15,3;16,1;16,2;17,4;17,6;17,5\r\nEstonie;17,4;16;17;18,6;22,9;24,6;25,3;25,5;25,3;26,1;28,2;28,7;29,1;30\r\nFinlande;28,8;30,1;29,6;31,4;31,3;32,4;32,8;34,4;36,7;38,8;39,3;39;40,9;41,2\r\nFrance;9,6;9,3;10,2;11,2;12,2;12,7;12,7;13,4;14;14,6;15;15,7;16;16,6\r\nGr\xe8ce;7,3;7,5;8,2;8,2;8,7;10,1;11,2;13,7;15,3;15,7;15,7;15,4;17;18\r\nHongrie;6,9;7,4;8,6;8,6;11,7;12,7;14;15,5;16,2;14,6;14,5;14,3;13,5;12,5\r\nIrlande;2,8;3;3,5;3,9;5,2;5,7;6,6;7,1;7,6;8,6;9,1;9,3;10,6;11,1\r\nItalie;7,5;8,3;9,8;11,5;12,8;13;12,9;15,4;16,7;17,1;17,5;17,4;18,3;17,8\r\nLettonie;32,3;31,1;29,6;29,8;34,3;30,4;33,5;35,7;37;38,6;37,5;37,1;39;40,3\r\nLituanie;16,8;16,9;16,5;17,8;19,8;19,6;19,9;21,4;22,7;23,6;25,8;25,6;26;24,4\r\nLuxembourg;1,4;1,5;2,7;2,8;2,9;2,9;2,9;3,1;3,5;4,5;5,1;5,4;6,3;9,1\r\nMalte;0,1;0,1;0,2;0,2;0,2;1;1,9;2,9;3,8;4,7;5,1;6,2;7,3;8\r\nPays-Bas;2,5;2,8;3,3;3,6;4,3;3,9;4,5;4,7;4,7;5,4;5,7;5,8;6,5;7,4\r\nPologne;6,9;6,9;6,9;7,7;8,7;9,3;10,3;10,9;11,4;11,5;11,7;11,3;11;11,3\r\nPortugal;19,5;20,8;21,9;22,9;24,4;24,2;24,6;24,6;25,7;29,5;30,5;30,9;30,6;30,3\r\nR\xe9publique tch\xe8que;7,1;7,4;7,9;8,7;10;10,5;10,9;12,8;13,9;15,1;15,1;14,9;14,8;15,2\r\nRoumanie;17,6;17,1;18,2;20,2;22,2;22,8;21,2;22,8;23,9;24,8;24,8;25;24,5;23,9\r\nRoyaume-Uni;1,1;1,3;1,6;2,7;3,3;3,8;4,3;4,4;5,5;6,7;8,3;9;9,7;11\r\nSlovaquie;6,4;6,6;7,8;7,7;9,4;9,1;10,3;10,5;10,1;11,7;12,9;12;11,5;11,9\r\nSlov\xe9nie;16;15,6;15,6;15;20,1;20,4;20,3;20,8;22,4;21,5;21,9;21,3;21,1;21,1\r\nSu\xe8de;40,7;42,4;43,9;44,7;47,9;47;48,2;50,2;50,8;51,9;53;53,4;54,2;54,6\r\n'}

In [11]:
df = spark.read.option("delimiter", ';').csv("03_03_data.csv", header=True)
print(type(df))

<class 'pyspark.sql.dataframe.DataFrame'>

In [12]:
df.show()

+----------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|      Pays|2005|2006|2007|2008|2009|2010|2011|2012|2013|2014|2015|2016|2017|2018|
+----------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
| Allemagne| 7,2| 8,5|10,1|10,1|10,9|11,7|12,5|13,6|13,8|14,4|14,9|14,9|15,5|16,5|
|  Autriche|24,4|26,3|28,2|28,9|  31|31,2|31,6|32,7|32,8|33,7|33,5|33,4|33,1|33,4|
|  Belgique| 2,3| 2,6| 3,1| 3,6| 4,7| 5,6| 6,3| 7,2| 7,5|   8|   8| 8,7| 9,1| 9,4|
|  Bulgarie| 9,2| 9,4| 9,1|10,3|  12|13,9|14,2|15,8|18,9|18,1|18,3|18,8|18,7|20,5|
|    Chypre| 3,1| 3,3|   4| 5,1| 5,9| 6,2| 6,3| 7,1| 8,5| 9,2| 9,9| 9,9|10,5|13,9|
|   Croatie|23,7|22,7|22,2|  22|23,6|25,1|25,4|26,8|  28|27,8|  29|28,3|27,3|  28|
|  Danemark|  16|16,3|17,7|18,5|  20|21,9|23,4|25,5|27,2|29,3|30,8|31,8|34,7|35,7|
|   Espagne| 8,4| 9,1| 9,7|10,7|  13|13,8|13,2|14,3|15,3|16,1|16,2|17,4|17,6|17,5|
|   Estonie|17,4|  16|  17|18,6|22,9|24,6|25,3|25,5|25,3|26,1|28,2|28,7|29,1|  30|
|  Finlande|28,8|30,1|29,6|31,4|31,3|32,4|32,8|34,4|36,7|38,8|39,3|  39|40,9|41,2|
|    France| 9,6| 9,3|10,2|11,2|12,2|12,7|12,7|13,4|  14|14,6|  15|15,7|  16|16,6|
|     Gr�ce| 7,3| 7,5| 8,2| 8,2| 8,7|10,1|11,2|13,7|15,3|15,7|15,7|15,4|  17|  18|
|   Hongrie| 6,9| 7,4| 8,6| 8,6|11,7|12,7|  14|15,5|16,2|14,6|14,5|14,3|13,5|12,5|
|   Irlande| 2,8|   3| 3,5| 3,9| 5,2| 5,7| 6,6| 7,1| 7,6| 8,6| 9,1| 9,3|10,6|11,1|
|    Italie| 7,5| 8,3| 9,8|11,5|12,8|  13|12,9|15,4|16,7|17,1|17,5|17,4|18,3|17,8|
|  Lettonie|32,3|31,1|29,6|29,8|34,3|30,4|33,5|35,7|  37|38,6|37,5|37,1|  39|40,3|
|  Lituanie|16,8|16,9|16,5|17,8|19,8|19,6|19,9|21,4|22,7|23,6|25,8|25,6|  26|24,4|
|Luxembourg| 1,4| 1,5| 2,7| 2,8| 2,9| 2,9| 2,9| 3,1| 3,5| 4,5| 5,1| 5,4| 6,3| 9,1|
|     Malte| 0,1| 0,1| 0,2| 0,2| 0,2|   1| 1,9| 2,9| 3,8| 4,7| 5,1| 6,2| 7,3|   8|
|  Pays-Bas| 2,5| 2,8| 3,3| 3,6| 4,3| 3,9| 4,5| 4,7| 4,7| 5,4| 5,7| 5,8| 6,5| 7,4|
+----------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
only showing top 20 rows

In [13]:
df.count()

28

In [14]:
df.columns

['Pays',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018']

In [15]:
df.take(5)

[Row(Pays='Allemagne', 2005='7,2', 2006='8,5', 2007='10,1', 2008='10,1', 2009='10,9', 2010='11,7', 2011='12,5', 2012='13,6', 2013='13,8', 2014='14,4', 2015='14,9', 2016='14,9', 2017='15,5', 2018='16,5'),
 Row(Pays='Autriche', 2005='24,4', 2006='26,3', 2007='28,2', 2008='28,9', 2009='31', 2010='31,2', 2011='31,6', 2012='32,7', 2013='32,8', 2014='33,7', 2015='33,5', 2016='33,4', 2017='33,1', 2018='33,4'),
 Row(Pays='Belgique', 2005='2,3', 2006='2,6', 2007='3,1', 2008='3,6', 2009='4,7', 2010='5,6', 2011='6,3', 2012='7,2', 2013='7,5', 2014='8', 2015='8', 2016='8,7', 2017='9,1', 2018='9,4'),
 Row(Pays='Bulgarie', 2005='9,2', 2006='9,4', 2007='9,1', 2008='10,3', 2009='12', 2010='13,9', 2011='14,2', 2012='15,8', 2013='18,9', 2014='18,1', 2015='18,3', 2016='18,8', 2017='18,7', 2018='20,5'),
 Row(Pays='Chypre', 2005='3,1', 2006='3,3', 2007='4', 2008='5,1', 2009='5,9', 2010='6,2', 2011='6,3', 2012='7,1', 2013='8,5', 2014='9,2', 2015='9,9', 2016='9,9', 2017='10,5', 2018='13,9')]

In [16]:
df.collect()

[Row(Pays='Allemagne', 2005='7,2', 2006='8,5', 2007='10,1', 2008='10,1', 2009='10,9', 2010='11,7', 2011='12,5', 2012='13,6', 2013='13,8', 2014='14,4', 2015='14,9', 2016='14,9', 2017='15,5', 2018='16,5'),
 Row(Pays='Autriche', 2005='24,4', 2006='26,3', 2007='28,2', 2008='28,9', 2009='31', 2010='31,2', 2011='31,6', 2012='32,7', 2013='32,8', 2014='33,7', 2015='33,5', 2016='33,4', 2017='33,1', 2018='33,4'),
 Row(Pays='Belgique', 2005='2,3', 2006='2,6', 2007='3,1', 2008='3,6', 2009='4,7', 2010='5,6', 2011='6,3', 2012='7,2', 2013='7,5', 2014='8', 2015='8', 2016='8,7', 2017='9,1', 2018='9,4'),
 Row(Pays='Bulgarie', 2005='9,2', 2006='9,4', 2007='9,1', 2008='10,3', 2009='12', 2010='13,9', 2011='14,2', 2012='15,8', 2013='18,9', 2014='18,1', 2015='18,3', 2016='18,8', 2017='18,7', 2018='20,5'),
 Row(Pays='Chypre', 2005='3,1', 2006='3,3', 2007='4', 2008='5,1', 2009='5,9', 2010='6,2', 2011='6,3', 2012='7,1', 2013='8,5', 2014='9,2', 2015='9,9', 2016='9,9', 2017='10,5', 2018='13,9'),
 Row(Pays='Croatie', 2005='23,7', 2006='22,7', 2007='22,2', 2008='22', 2009='23,6', 2010='25,1', 2011='25,4', 2012='26,8', 2013='28', 2014='27,8', 2015='29', 2016='28,3', 2017='27,3', 2018='28'),
 Row(Pays='Danemark', 2005='16', 2006='16,3', 2007='17,7', 2008='18,5', 2009='20', 2010='21,9', 2011='23,4', 2012='25,5', 2013='27,2', 2014='29,3', 2015='30,8', 2016='31,8', 2017='34,7', 2018='35,7'),
 Row(Pays='Espagne', 2005='8,4', 2006='9,1', 2007='9,7', 2008='10,7', 2009='13', 2010='13,8', 2011='13,2', 2012='14,3', 2013='15,3', 2014='16,1', 2015='16,2', 2016='17,4', 2017='17,6', 2018='17,5'),
 Row(Pays='Estonie', 2005='17,4', 2006='16', 2007='17', 2008='18,6', 2009='22,9', 2010='24,6', 2011='25,3', 2012='25,5', 2013='25,3', 2014='26,1', 2015='28,2', 2016='28,7', 2017='29,1', 2018='30'),
 Row(Pays='Finlande', 2005='28,8', 2006='30,1', 2007='29,6', 2008='31,4', 2009='31,3', 2010='32,4', 2011='32,8', 2012='34,4', 2013='36,7', 2014='38,8', 2015='39,3', 2016='39', 2017='40,9', 2018='41,2'),
 Row(Pays='France', 2005='9,6', 2006='9,3', 2007='10,2', 2008='11,2', 2009='12,2', 2010='12,7', 2011='12,7', 2012='13,4', 2013='14', 2014='14,6', 2015='15', 2016='15,7', 2017='16', 2018='16,6'),
 Row(Pays='Gr�ce', 2005='7,3', 2006='7,5', 2007='8,2', 2008='8,2', 2009='8,7', 2010='10,1', 2011='11,2', 2012='13,7', 2013='15,3', 2014='15,7', 2015='15,7', 2016='15,4', 2017='17', 2018='18'),
 Row(Pays='Hongrie', 2005='6,9', 2006='7,4', 2007='8,6', 2008='8,6', 2009='11,7', 2010='12,7', 2011='14', 2012='15,5', 2013='16,2', 2014='14,6', 2015='14,5', 2016='14,3', 2017='13,5', 2018='12,5'),
 Row(Pays='Irlande', 2005='2,8', 2006='3', 2007='3,5', 2008='3,9', 2009='5,2', 2010='5,7', 2011='6,6', 2012='7,1', 2013='7,6', 2014='8,6', 2015='9,1', 2016='9,3', 2017='10,6', 2018='11,1'),
 Row(Pays='Italie', 2005='7,5', 2006='8,3', 2007='9,8', 2008='11,5', 2009='12,8', 2010='13', 2011='12,9', 2012='15,4', 2013='16,7', 2014='17,1', 2015='17,5', 2016='17,4', 2017='18,3', 2018='17,8'),
 Row(Pays='Lettonie', 2005='32,3', 2006='31,1', 2007='29,6', 2008='29,8', 2009='34,3', 2010='30,4', 2011='33,5', 2012='35,7', 2013='37', 2014='38,6', 2015='37,5', 2016='37,1', 2017='39', 2018='40,3'),
 Row(Pays='Lituanie', 2005='16,8', 2006='16,9', 2007='16,5', 2008='17,8', 2009='19,8', 2010='19,6', 2011='19,9', 2012='21,4', 2013='22,7', 2014='23,6', 2015='25,8', 2016='25,6', 2017='26', 2018='24,4'),
 Row(Pays='Luxembourg', 2005='1,4', 2006='1,5', 2007='2,7', 2008='2,8', 2009='2,9', 2010='2,9', 2011='2,9', 2012='3,1', 2013='3,5', 2014='4,5', 2015='5,1', 2016='5,4', 2017='6,3', 2018='9,1'),
 Row(Pays='Malte', 2005='0,1', 2006='0,1', 2007='0,2', 2008='0,2', 2009='0,2', 2010='1', 2011='1,9', 2012='2,9', 2013='3,8', 2014='4,7', 2015='5,1', 2016='6,2', 2017='7,3', 2018='8'),
 Row(Pays='Pays-Bas', 2005='2,5', 2006='2,8', 2007='3,3', 2008='3,6', 2009='4,3', 2010='3,9', 2011='4,5', 2012='4,7', 2013='4,7', 2014='5,4', 2015='5,7', 2016='5,8', 2017='6,5', 2018='7,4'),
 Row(Pays='Pologne', 2005='6,9', 2006='6,9', 2007='6,9', 2008='7,7', 2009='8,7', 2010='9,3', 2011='10,3', 2012='10,9', 2013='11,4', 2014='11,5', 2015='11,7', 2016='11,3', 2017='11', 2018='11,3'),
 Row(Pays='Portugal', 2005='19,5', 2006='20,8', 2007='21,9', 2008='22,9', 2009='24,4', 2010='24,2', 2011='24,6', 2012='24,6', 2013='25,7', 2014='29,5', 2015='30,5', 2016='30,9', 2017='30,6', 2018='30,3'),
 Row(Pays='R�publique tch�que', 2005='7,1', 2006='7,4', 2007='7,9', 2008='8,7', 2009='10', 2010='10,5', 2011='10,9', 2012='12,8', 2013='13,9', 2014='15,1', 2015='15,1', 2016='14,9', 2017='14,8', 2018='15,2'),
 Row(Pays='Roumanie', 2005='17,6', 2006='17,1', 2007='18,2', 2008='20,2', 2009='22,2', 2010='22,8', 2011='21,2', 2012='22,8', 2013='23,9', 2014='24,8', 2015='24,8', 2016='25', 2017='24,5', 2018='23,9'),
 Row(Pays='Royaume-Uni', 2005='1,1', 2006='1,3', 2007='1,6', 2008='2,7', 2009='3,3', 2010='3,8', 2011='4,3', 2012='4,4', 2013='5,5', 2014='6,7', 2015='8,3', 2016='9', 2017='9,7', 2018='11'),
 Row(Pays='Slovaquie', 2005='6,4', 2006='6,6', 2007='7,8', 2008='7,7', 2009='9,4', 2010='9,1', 2011='10,3', 2012='10,5', 2013='10,1', 2014='11,7', 2015='12,9', 2016='12', 2017='11,5', 2018='11,9'),
 Row(Pays='Slov�nie', 2005='16', 2006='15,6', 2007='15,6', 2008='15', 2009='20,1', 2010='20,4', 2011='20,3', 2012='20,8', 2013='22,4', 2014='21,5', 2015='21,9', 2016='21,3', 2017='21,1', 2018='21,1'),
 Row(Pays='Su�de', 2005='40,7', 2006='42,4', 2007='43,9', 2008='44,7', 2009='47,9', 2010='47', 2011='48,2', 2012='50,2', 2013='50,8', 2014='51,9', 2015='53', 2016='53,4', 2017='54,2', 2018='54,6')]

In [17]:
# df Spark to Pandas
df.toPandas()

,Pays,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Allemagne,"7,2","8,5","10,1","10,1","10,9","11,7","12,5","13,6","13,8","14,4","14,9","14,9","15,5","16,5"
1,Autriche,"24,4","26,3","28,2","28,9",31,"31,2","31,6","32,7","32,8","33,7","33,5","33,4","33,1","33,4"
2,Belgique,"2,3","2,6","3,1","3,6","4,7","5,6","6,3","7,2","7,5",8,8,"8,7","9,1","9,4"
3,Bulgarie,"9,2","9,4","9,1","10,3",12,"13,9","14,2","15,8","18,9","18,1","18,3","18,8","18,7","20,5"
4,Chypre,"3,1","3,3",4,"5,1","5,9","6,2","6,3","7,1","8,5","9,2","9,9","9,9","10,5","13,9"
5,Croatie,"23,7","22,7","22,2",22,"23,6","25,1","25,4","26,8",28,"27,8",29,"28,3","27,3",28
6,Danemark,16,"16,3","17,7","18,5",20,"21,9","23,4","25,5","27,2","29,3","30,8","31,8","34,7","35,7"
7,Espagne,"8,4","9,1","9,7","10,7",13,"13,8","13,2","14,3","15,3","16,1","16,2","17,4","17,6","17,5"
8,Estonie,"17,4",16,17,"18,6","22,9","24,6","25,3","25,5","25,3","26,1","28,2","28,7","29,1",30
9,Finlande,"28,8","30,1","29,6","31,4","31,3","32,4","32,8","34,4","36,7","38,8","39,3",39,"40,9","41,2"
10,France,"9,6","9,3","10,2","11,2","12,2","12,7","12,7","13,4",14,"14,6",15,"15,7",16,"16,6"
11,Gr�ce,"7,3","7,5","8,2","8,2","8,7","10,1","11,2","13,7","15,3","15,7","15,7","15,4",17,18
12,Hongrie,"6,9","7,4","8,6","8,6","11,7","12,7",14,"15,5","16,2","14,6","14,5","14,3","13,5","12,5"
13,Irlande,"2,8",3,"3,5","3,9","5,2","5,7","6,6","7,1","7,6","8,6","9,1","9,3","10,6","11,1"
14,Italie,"7,5","8,3","9,8","11,5","12,8",13,"12,9","15,4","16,7","17,1","17,5","17,4","18,3","17,8"
15,Lettonie,"32,3","31,1","29,6","29,8","34,3","30,4","33,5","35,7",37,"38,6","37,5","37,1",39,"40,3"
16,Lituanie,"16,8","16,9","16,5","17,8","19,8","19,6","19,9","21,4","22,7","23,6","25,8","25,6",26,"24,4"
17,Luxembourg,"1,4","1,5","2,7","2,8","2,9","2,9","2,9","3,1","3,5","4,5","5,1","5,4","6,3","9,1"
18,Malte,"0,1","0,1","0,2","0,2","0,2",1,"1,9","2,9","3,8","4,7","5,1","6,2","7,3",8
19,Pays-Bas,"2,5","2,8","3,3","3,6","4,3","3,9","4,5","4,7","4,7","5,4","5,7","5,8","6,5","7,4"
20,Pologne,"6,9","6,9","6,9","7,7","8,7","9,3","10,3","10,9","11,4","11,5","11,7","11,3",11,"11,3"
21,Portugal,"19,5","20,8","21,9","22,9","24,4","24,2","24,6","24,6","25,7","29,5","30,5","30,9","30,6","30,3"
22,R�publique tch�que,"7,1","7,4","7,9","8,7",10,"10,5","10,9","12,8","13,9","15,1","15,1","14,9","14,8","15,2"
23,Roumanie,"17,6","17,1","18,2","20,2","22,2","22,8","21,2","22,8","23,9","24,8","24,8",25,"24,5","23,9"
24,Royaume-Uni,"1,1","1,3","1,6","2,7","3,3","3,8","4,3","4,4","5,5","6,7","8,3",9,"9,7",11
25,Slovaquie,"6,4","6,6","7,8","7,7","9,4","9,1","10,3","10,5","10,1","11,7","12,9",12,"11,5","11,9"
26,Slov�nie,16,"15,6","15,6",15,"20,1","20,4","20,3","20,8","22,4","21,5","21,9","21,3","21,1","21,1"
27,Su�de,"40,7","42,4","43,9","44,7","47,9",47,"48,2","50,2","50,8","51,9",53,"53,4","54,2","54,6"

### Manipuler des colonnes

In [18]:
df.select("2015").show(5)

+----+
|2015|
+----+
|14,9|
|33,5|
|   8|
|18,3|
| 9,9|
+----+
only showing top 5 rows

In [19]:
df.select("2015", "2016", "2017").show(5)

+----+----+----+
|2015|2016|2017|
+----+----+----+
|14,9|14,9|15,5|
|33,5|33,4|33,1|
|   8| 8,7| 9,1|
|18,3|18,8|18,7|
| 9,9| 9,9|10,5|
+----+----+----+
only showing top 5 rows

**Ajouter une colonne**

In [20]:
from pyspark.sql.functions import lit

df_2025 = df.withColumn("2025", lit(50))
df_2025.show()

+----------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|      Pays|2005|2006|2007|2008|2009|2010|2011|2012|2013|2014|2015|2016|2017|2018|2025|
+----------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
| Allemagne| 7,2| 8,5|10,1|10,1|10,9|11,7|12,5|13,6|13,8|14,4|14,9|14,9|15,5|16,5|  50|
|  Autriche|24,4|26,3|28,2|28,9|  31|31,2|31,6|32,7|32,8|33,7|33,5|33,4|33,1|33,4|  50|
|  Belgique| 2,3| 2,6| 3,1| 3,6| 4,7| 5,6| 6,3| 7,2| 7,5|   8|   8| 8,7| 9,1| 9,4|  50|
|  Bulgarie| 9,2| 9,4| 9,1|10,3|  12|13,9|14,2|15,8|18,9|18,1|18,3|18,8|18,7|20,5|  50|
|    Chypre| 3,1| 3,3|   4| 5,1| 5,9| 6,2| 6,3| 7,1| 8,5| 9,2| 9,9| 9,9|10,5|13,9|  50|
|   Croatie|23,7|22,7|22,2|  22|23,6|25,1|25,4|26,8|  28|27,8|  29|28,3|27,3|  28|  50|
|  Danemark|  16|16,3|17,7|18,5|  20|21,9|23,4|25,5|27,2|29,3|30,8|31,8|34,7|35,7|  50|
|   Espagne| 8,4| 9,1| 9,7|10,7|  13|13,8|13,2|14,3|15,3|16,1|16,2|17,4|17,6|17,5|  50|
|   Estonie|17,4|  16|  17|18,6|22,9|24,6|25,3|25,5|25,3|26,1|28,2|28,7|29,1|  30|  50|
|  Finlande|28,8|30,1|29,6|31,4|31,3|32,4|32,8|34,4|36,7|38,8|39,3|  39|40,9|41,2|  50|
|    France| 9,6| 9,3|10,2|11,2|12,2|12,7|12,7|13,4|  14|14,6|  15|15,7|  16|16,6|  50|
|     Gr�ce| 7,3| 7,5| 8,2| 8,2| 8,7|10,1|11,2|13,7|15,3|15,7|15,7|15,4|  17|  18|  50|
|   Hongrie| 6,9| 7,4| 8,6| 8,6|11,7|12,7|  14|15,5|16,2|14,6|14,5|14,3|13,5|12,5|  50|
|   Irlande| 2,8|   3| 3,5| 3,9| 5,2| 5,7| 6,6| 7,1| 7,6| 8,6| 9,1| 9,3|10,6|11,1|  50|
|    Italie| 7,5| 8,3| 9,8|11,5|12,8|  13|12,9|15,4|16,7|17,1|17,5|17,4|18,3|17,8|  50|
|  Lettonie|32,3|31,1|29,6|29,8|34,3|30,4|33,5|35,7|  37|38,6|37,5|37,1|  39|40,3|  50|
|  Lituanie|16,8|16,9|16,5|17,8|19,8|19,6|19,9|21,4|22,7|23,6|25,8|25,6|  26|24,4|  50|
|Luxembourg| 1,4| 1,5| 2,7| 2,8| 2,9| 2,9| 2,9| 3,1| 3,5| 4,5| 5,1| 5,4| 6,3| 9,1|  50|
|     Malte| 0,1| 0,1| 0,2| 0,2| 0,2|   1| 1,9| 2,9| 3,8| 4,7| 5,1| 6,2| 7,3|   8|  50|
|  Pays-Bas| 2,5| 2,8| 3,3| 3,6| 4,3| 3,9| 4,5| 4,7| 4,7| 5,4| 5,7| 5,8| 6,5| 7,4|  50|
+----------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
only showing top 20 rows

**Supprimer une colonne**

In [21]:
df_sans_2005 = df.drop("2005")
df_sans_2005.show()

+----------+----+----+----+----+----+----+----+----+----+----+----+----+----+
|      Pays|2006|2007|2008|2009|2010|2011|2012|2013|2014|2015|2016|2017|2018|
+----------+----+----+----+----+----+----+----+----+----+----+----+----+----+
| Allemagne| 8,5|10,1|10,1|10,9|11,7|12,5|13,6|13,8|14,4|14,9|14,9|15,5|16,5|
|  Autriche|26,3|28,2|28,9|  31|31,2|31,6|32,7|32,8|33,7|33,5|33,4|33,1|33,4|
|  Belgique| 2,6| 3,1| 3,6| 4,7| 5,6| 6,3| 7,2| 7,5|   8|   8| 8,7| 9,1| 9,4|
|  Bulgarie| 9,4| 9,1|10,3|  12|13,9|14,2|15,8|18,9|18,1|18,3|18,8|18,7|20,5|
|    Chypre| 3,3|   4| 5,1| 5,9| 6,2| 6,3| 7,1| 8,5| 9,2| 9,9| 9,9|10,5|13,9|
|   Croatie|22,7|22,2|  22|23,6|25,1|25,4|26,8|  28|27,8|  29|28,3|27,3|  28|
|  Danemark|16,3|17,7|18,5|  20|21,9|23,4|25,5|27,2|29,3|30,8|31,8|34,7|35,7|
|   Espagne| 9,1| 9,7|10,7|  13|13,8|13,2|14,3|15,3|16,1|16,2|17,4|17,6|17,5|
|   Estonie|  16|  17|18,6|22,9|24,6|25,3|25,5|25,3|26,1|28,2|28,7|29,1|  30|
|  Finlande|30,1|29,6|31,4|31,3|32,4|32,8|34,4|36,7|38,8|39,3|  39|40,9|41,2|
|    France| 9,3|10,2|11,2|12,2|12,7|12,7|13,4|  14|14,6|  15|15,7|  16|16,6|
|     Gr�ce| 7,5| 8,2| 8,2| 8,7|10,1|11,2|13,7|15,3|15,7|15,7|15,4|  17|  18|
|   Hongrie| 7,4| 8,6| 8,6|11,7|12,7|  14|15,5|16,2|14,6|14,5|14,3|13,5|12,5|
|   Irlande|   3| 3,5| 3,9| 5,2| 5,7| 6,6| 7,1| 7,6| 8,6| 9,1| 9,3|10,6|11,1|
|    Italie| 8,3| 9,8|11,5|12,8|  13|12,9|15,4|16,7|17,1|17,5|17,4|18,3|17,8|
|  Lettonie|31,1|29,6|29,8|34,3|30,4|33,5|35,7|  37|38,6|37,5|37,1|  39|40,3|
|  Lituanie|16,9|16,5|17,8|19,8|19,6|19,9|21,4|22,7|23,6|25,8|25,6|  26|24,4|
|Luxembourg| 1,5| 2,7| 2,8| 2,9| 2,9| 2,9| 3,1| 3,5| 4,5| 5,1| 5,4| 6,3| 9,1|
|     Malte| 0,1| 0,2| 0,2| 0,2|   1| 1,9| 2,9| 3,8| 4,7| 5,1| 6,2| 7,3|   8|
|  Pays-Bas| 2,8| 3,3| 3,6| 4,3| 3,9| 4,5| 4,7| 4,7| 5,4| 5,7| 5,8| 6,5| 7,4|
+----------+----+----+----+----+----+----+----+----+----+----+----+----+----+
only showing top 20 rows

### Manipuler des lignes

In [22]:
import seaborn as sns

pourboir = sns.load_dataset('tips')
pourboir.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [23]:
df = spark.createDataFrame(pourboir)
df.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [24]:
df.printSchema()

root
 |-- total_bill: double (nullable = true)
 |-- tip: double (nullable = true)
 |-- sex: string (nullable = true)
 |-- smoker: string (nullable = true)
 |-- day: string (nullable = true)
 |-- time: string (nullable = true)
 |-- size: long (nullable = true)

In [25]:
df_2 = df.withColumnRenamed("total_bill", "total") \
        .withColumnRenamed("tip", "pourboir") \
        .withColumnRenamed("sex", "xexe") \
        .withColumnRenamed("smoker", "fumeur") \
        .withColumnRenamed("day", "jour") \
        .withColumnRenamed("temps", "repas") \
        .withColumnRenamed("size", "nombre") \

df_2.show()

+-----+--------+------+------+----+------+------+
|total|pourboir|  xexe|fumeur|jour|  time|nombre|
+-----+--------+------+------+----+------+------+
|16.99|    1.01|Female|    No| Sun|Dinner|     2|
|10.34|    1.66|  Male|    No| Sun|Dinner|     3|
|21.01|     3.5|  Male|    No| Sun|Dinner|     3|
|23.68|    3.31|  Male|    No| Sun|Dinner|     2|
|24.59|    3.61|Female|    No| Sun|Dinner|     4|
|25.29|    4.71|  Male|    No| Sun|Dinner|     4|
| 8.77|     2.0|  Male|    No| Sun|Dinner|     2|
|26.88|    3.12|  Male|    No| Sun|Dinner|     4|
|15.04|    1.96|  Male|    No| Sun|Dinner|     2|
|14.78|    3.23|  Male|    No| Sun|Dinner|     2|
|10.27|    1.71|  Male|    No| Sun|Dinner|     2|
|35.26|     5.0|Female|    No| Sun|Dinner|     4|
|15.42|    1.57|  Male|    No| Sun|Dinner|     2|
|18.43|     3.0|  Male|    No| Sun|Dinner|     4|
|14.83|    3.02|Female|    No| Sun|Dinner|     2|
|21.58|    3.92|  Male|    No| Sun|Dinner|     2|
|10.33|    1.67|Female|    No| Sun|Dinner|     3|
|16.29|    3.71|  Male|    No| Sun|Dinner|     3|
|16.97|     3.5|Female|    No| Sun|Dinner|     3|
|20.65|    3.35|  Male|    No| Sat|Dinner|     3|
+-----+--------+------+------+----+------+------+
only showing top 20 rows

In [26]:
df_2.count()

244

In [27]:
df_2.filter(df_2["pourboir"] > 2).filter(df_2["nombre"] == 2).show()

+-----+--------+------+------+----+------+------+
|total|pourboir|  xexe|fumeur|jour|  time|nombre|
+-----+--------+------+------+----+------+------+
|23.68|    3.31|  Male|    No| Sun|Dinner|     2|
|14.78|    3.23|  Male|    No| Sun|Dinner|     2|
|14.83|    3.02|Female|    No| Sun|Dinner|     2|
|21.58|    3.92|  Male|    No| Sun|Dinner|     2|
|17.92|    4.08|  Male|    No| Sat|Dinner|     2|
|20.29|    2.75|Female|    No| Sat|Dinner|     2|
|15.77|    2.23|Female|    No| Sat|Dinner|     2|
|19.82|    3.18|  Male|    No| Sat|Dinner|     2|
| 21.7|     4.3|  Male|    No| Sat|Dinner|     2|
|19.65|     3.0|Female|    No| Sat|Dinner|     2|
|15.06|     3.0|Female|    No| Sat|Dinner|     2|
|17.78|    3.27|  Male|    No| Sat|Dinner|     2|
|17.46|    2.54|  Male|    No| Sun|Dinner|     2|
|13.94|    3.06|  Male|    No| Sun|Dinner|     2|
|18.29|     3.0|  Male|    No| Sun|Dinner|     2|
|22.23|     5.0|  Male|    No| Sun|Dinner|     2|
|18.04|     3.0|  Male|    No| Sun|Dinner|     2|
|12.54|     2.5|  Male|    No| Sun|Dinner|     2|
|10.29|     2.6|Female|    No| Sun|Dinner|     2|
|19.49|    3.51|  Male|    No| Sun|Dinner|     2|
+-----+--------+------+------+----+------+------+
only showing top 20 rows

In [28]:
df_2.filter(df_2["pourboir"] > 2).filter(df_2["nombre"] == 2).filter(df_2["fumeur"] == 'Yes').count()

41

In [29]:
df_2.filter(df_2["pourboir"] > 2).filter(df_2["nombre"] == 2).filter(df_2["fumeur"] == 'Yes').orderBy("pourboir", ascending=False).show()

+-----+--------+------+------+----+------+------+
|total|pourboir|  xexe|fumeur|jour|  time|nombre|
+-----+--------+------+------+----+------+------+
|23.33|    5.65|  Male|   Yes| Sun|Dinner|     2|
| 7.25|    5.15|  Male|   Yes| Sun|Dinner|     2|
|32.68|     5.0|  Male|   Yes|Thur| Lunch|     2|
|25.28|     5.0|Female|   Yes| Sat|Dinner|     2|
|16.32|     4.3|Female|   Yes| Fri|Dinner|     2|
|25.21|    4.29|  Male|   Yes| Sat|Dinner|     2|
|19.81|    4.19|Female|   Yes|Thur| Lunch|     2|
|20.49|    4.06|  Male|   Yes| Sat|Dinner|     2|
|14.31|     4.0|Female|   Yes| Sat|Dinner|     2|
|16.82|     4.0|  Male|   Yes| Sun|Dinner|     2|
|16.58|     4.0|  Male|   Yes|Thur| Lunch|     2|
|27.28|     4.0|  Male|   Yes| Fri|Dinner|     2|
|  9.6|     4.0|Female|   Yes| Sun|Dinner|     2|
|34.63|    3.55|  Male|   Yes| Sun|Dinner|     2|
|22.42|    3.48|Female|   Yes| Sat|Dinner|     2|
|13.42|    3.48|Female|   Yes| Fri| Lunch|     2|
|20.29|    3.21|  Male|   Yes| Sat|Dinner|     2|
|31.85|    3.18|  Male|   Yes| Sun|Dinner|     2|
|15.81|    3.16|  Male|   Yes| Sat|Dinner|     2|
|26.86|    3.14|Female|   Yes| Sat|Dinner|     2|
+-----+--------+------+------+----+------+------+
only showing top 20 rows

In [30]:
df_2.groupBy("jour").count().orderBy("count", ascending=False).show()

+----+-----+
|jour|count|
+----+-----+
| Sat|   87|
| Sun|   76|
|Thur|   62|
| Fri|   19|
+----+-----+

# Quelques fonctions

### Fonctions natives

In [31]:
print(dir(pyspark.sql.functions))

['AutoBatchedSerializer', 'Column', 'DataFrame', 'DataType', 'PandasUDFType', 'PickleSerializer', 'PythonEvalType', 'SparkContext', 'StringType', 'UserDefinedFunction', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_binary_mathfunctions', '_collect_list_doc', '_collect_set_doc', '_create_binary_mathfunction', '_create_function', '_create_udf', '_create_window_function', '_functions', '_functions_1_4', '_functions_1_6', '_functions_2_1', '_functions_deprecated', '_lit_doc', '_message', '_string_functions', '_test', '_to_java_column', '_to_seq', '_window_functions', '_wrap_deprecated_function', 'abs', 'acos', 'add_months', 'approxCountDistinct', 'approx_count_distinct', 'array', 'array_contains', 'asc', 'ascii', 'asin', 'atan', 'atan2', 'avg', 'base64', 'bin', 'bitwiseNOT', 'blacklist', 'broadcast', 'bround', 'cbrt', 'ceil', 'coalesce', 'col', 'collect_list', 'collect_set', 'column', 'concat', 'concat_ws', 'conv', 'corr', 'cos', 'cosh', 'count', 'countDistinct', 'covar_pop', 'covar_samp', 'crc32', 'create_map', 'cume_dist', 'current_date', 'current_timestamp', 'date_add', 'date_format', 'date_sub', 'date_trunc', 'datediff', 'dayofmonth', 'dayofweek', 'dayofyear', 'decode', 'degrees', 'dense_rank', 'desc', 'encode', 'exp', 'explode', 'explode_outer', 'expm1', 'expr', 'factorial', 'first', 'floor', 'format_number', 'format_string', 'from_json', 'from_unixtime', 'from_utc_timestamp', 'functools', 'get_json_object', 'greatest', 'grouping', 'grouping_id', 'hash', 'hex', 'hour', 'hypot', 'ignore_unicode_prefix', 'initcap', 'input_file_name', 'instr', 'isnan', 'isnull', 'json_tuple', 'kurtosis', 'lag', 'last', 'last_day', 'lead', 'least', 'length', 'levenshtein', 'lit', 'locate', 'log', 'log10', 'log1p', 'log2', 'lower', 'lpad', 'ltrim', 'map_keys', 'map_values', 'math', 'max', 'md5', 'mean', 'min', 'minute', 'monotonically_increasing_id', 'month', 'months_between', 'nanvl', 'next_day', 'ntile', 'pandas_udf', 'percent_rank', 'posexplode', 'posexplode_outer', 'pow', 'quarter', 'radians', 'rand', 'randn', 'rank', 'regexp_extract', 'regexp_replace', 'repeat', 'reverse', 'rint', 'round', 'row_number', 'rpad', 'rtrim', 'second', 'sha1', 'sha2', 'shiftLeft', 'shiftRight', 'shiftRightUnsigned', 'signum', 'sin', 'since', 'sinh', 'size', 'skewness', 'sort_array', 'soundex', 'spark_partition_id', 'split', 'sqrt', 'stddev', 'stddev_pop', 'stddev_samp', 'struct', 'substring', 'substring_index', 'sum', 'sumDistinct', 'sys', 'tan', 'tanh', 'toDegrees', 'toRadians', 'to_date', 'to_json', 'to_timestamp', 'to_utc_timestamp', 'translate', 'trim', 'trunc', 'udf', 'unbase64', 'unhex', 'unix_timestamp', 'upper', 'var_pop', 'var_samp', 'variance', 'warnings', 'weekofyear', 'when', 'window', 'year']

In [32]:
from pyspark.sql import functions

In [33]:
from pyspark.sql.types import *
schema = StructType().add("id_utilisateur","string").add("pays","string").add("profession", "string").add("genre",'string').add("age", "integer")
df=spark.createDataFrame([("A123",'Maroc',"Médecin","Femme", 33), ("B234",'Canada',"Entrepreneur","Femme",35), ("C345",'France',"Professeur", "Homme",40)],schema=schema)
df.show()

+--------------+------+------------+-----+---+
|id_utilisateur|  pays|  profession|genre|age|
+--------------+------+------------+-----+---+
|          A123| Maroc|     Médecin|Femme| 33|
|          B234|Canada|Entrepreneur|Femme| 35|
|          C345|France|  Professeur|Homme| 40|
+--------------+------+------------+-----+---+

In [34]:
from pyspark.sql.functions import lower, upper, col, substring
df.select(lower(col('pays'))).show()

+-----------+
|lower(pays)|
+-----------+
|      maroc|
|     canada|
|     france|
+-----------+

In [35]:
df.select(upper(col('pays'))).show(5)

+-----------+
|upper(pays)|
+-----------+
|      MAROC|
|     CANADA|
|     FRANCE|
+-----------+

In [36]:
df.select(lower(col('pays')),upper(col('pays')),substring(col('pays'),1,3)).show(5)

+-----------+-----------+---------------------+
|lower(pays)|upper(pays)|substring(pays, 1, 3)|
+-----------+-----------+---------------------+
|      maroc|      MAROC|                  Mar|
|     canada|     CANADA|                  Can|
|     france|     FRANCE|                  Fra|
+-----------+-----------+---------------------+

In [37]:
from pyspark.sql.functions import avg
df.select(avg(col('Age'))).show()

+--------+
|avg(Age)|
+--------+
|    36.0|
+--------+

In [38]:
from pyspark.sql.functions import soundex
df.select(soundex(df.pays).alias("soundex")).show()

+-------+
|soundex|
+-------+
|   M620|
|   C530|
|   F652|
+-------+

### Fonctions date

In [39]:
df1 = spark.createDataFrame((("2021-01-23",1),("2021-06-24",2),("2021-09-20",3)),("date","nombre_de_mois"))
df1.show()

+----------+--------------+
|      date|nombre_de_mois|
+----------+--------------+
|2021-01-23|             1|
|2021-06-24|             2|
|2021-09-20|             3|
+----------+--------------+

In [40]:
import pyspark.sql.functions as F
df1.withColumn("nouvelle_date",F.add_months(col("date"), df1.first()[1])).show()

+----------+--------------+-------------+
|      date|nombre_de_mois|nouvelle_date|
+----------+--------------+-------------+
|2021-01-23|             1|   2021-02-23|
|2021-06-24|             2|   2021-07-24|
|2021-09-20|             3|   2021-10-20|
+----------+--------------+-------------+

In [41]:
df2 = spark.createDataFrame([("2021_01_11",)],["date"])
df2.show()

+----------+
|      date|
+----------+
|2021_01_11|
+----------+

In [42]:
df2.select(F.date_format('date', 'MM-dd-yyy').alias('Format date')).show()

+-----------+
|Format date|
+-----------+
|       null|
+-----------+

In [43]:
df2.printSchema()

root
 |-- date: string (nullable = true)

In [44]:
from pyspark.sql.functions import to_date
 
df3 = df2.withColumn('date',to_date(df2.date, 'yyyy_MM_dd'))
df3.printSchema()
df3.select("date").dtypes

root
 |-- date: date (nullable = true)

[('date', 'date')]

In [45]:
df3.show()

+----------+
|      date|
+----------+
|2021-01-11|
+----------+

In [46]:
df3.select(F.date_format('date', 'MM-dd-yyy').alias('Format date')).show()

+-----------+
|Format date|
+-----------+
| 01-11-2021|
+-----------+

### UDF

In [47]:
import pyspark.sql.functions as F
from pyspark.sql.types import *
schema = StructType().add("id_utilisateur","string").add("pays","string").add("profession", "string").add("genre",'string').add("age", "integer")
df=spark.createDataFrame([("A123",'Maroc',"Médecin","Femme", 33),("B234",'Canada',"Entrepreneur","Femme",35),("C345",'France',"Professeur", "Homme",40)],schema=schema)

In [48]:
df.show()

+--------------+------+------------+-----+---+
|id_utilisateur|  pays|  profession|genre|age|
+--------------+------+------------+-----+---+
|          A123| Maroc|     Médecin|Femme| 33|
|          B234|Canada|Entrepreneur|Femme| 35|
|          C345|France|  Professeur|Homme| 40|
+--------------+------+------------+-----+---+

In [49]:
def cat_age(age):
  if age < 40:
    return "Catégorie 1"
  else:
    return "Catégorie 2"

In [50]:
from pyspark.sql.functions import udf
age_udf = udf(cat_age, StringType())

In [51]:
df=df.withColumn('cat_age',age_udf(df['age']))
df.show()

+--------------+------+------------+-----+---+-----------+
|id_utilisateur|  pays|  profession|genre|age|    cat_age|
+--------------+------+------------+-----+---+-----------+
|          A123| Maroc|     Médecin|Femme| 33|Catégorie 1|
|          B234|Canada|Entrepreneur|Femme| 35|Catégorie 1|
|          C345|France|  Professeur|Homme| 40|Catégorie 2|
+--------------+------+------------+-----+---+-----------+

In [52]:
df.groupby("cat_age").count().show()

+-----------+-----+
|    cat_age|count|
+-----------+-----+
|Catégorie 1|    2|
|Catégorie 2|    1|
+-----------+-----+

Jointures

In [53]:
a = [('chat',1),('chien',2),('singe',3),('lion',4)]
df_a = spark.createDataFrame(a,['animal','id'])

b = [('tigre',1),('chat',2),('singe',3),('girafe',4)]
df_b = spark.createDataFrame(b,['animal','id'])
 
df_a.show()
print('-'*25)
df_b.show()

+------+---+
|animal| id|
+------+---+
|  chat|  1|
| chien|  2|
| singe|  3|
|  lion|  4|
+------+---+

-------------------------
+------+---+
|animal| id|
+------+---+
| tigre|  1|
|  chat|  2|
| singe|  3|
|girafe|  4|
+------+---+

In [54]:
j_interne = df_a.join(df_b, df_a.animal == df_b.animal)
j_interne.show()

+------+---+------+---+
|animal| id|animal| id|
+------+---+------+---+
|  chat|  1|  chat|  2|
| singe|  3| singe|  3|
+------+---+------+---+

In [55]:
j_gauche = df_a.join(df_b, df_a.animal == df_b.animal,how='left')
j_gauche.show()

+------+---+------+----+
|animal| id|animal|  id|
+------+---+------+----+
| chien|  2|  null|null|
|  lion|  4|  null|null|
|  chat|  1|  chat|   2|
| singe|  3| singe|   3|
+------+---+------+----+

In [56]:
j_droite = df_a.join(df_b, df_a.animal == df_b.animal,how='right')
j_droite.show()

+------+----+------+---+
|animal|  id|animal| id|
+------+----+------+---+
|  chat|   1|  chat|  2|
|  null|null| tigre|  1|
| singe|   3| singe|  3|
|  null|null|girafe|  4|
+------+----+------+---+

# RDD

Ce sont des collections partitionnées d'enrégistrements immuables

-   Objets Java, Scala ou Python
-   Avec une possibilité de traitement parallele

<hr>

**Avantages** :  
-  Reutiles efficacement les données
-  Réaliser rapidement des opérations Mapreduce
-  Controler le partitionnement des données
-  Uliser une large palette d'opération

**Inconvégnats** : 
-  Pas de Schéma imposé
-  Moins performants que les dataframes et datasets

<hr>

**Quand utilisé les RDD ?**
-  Transformations et action de bas niveau
-  Données non structurées
-  Utilisation de la programmation fonctionnelle

In [57]:
from pyspark import SparkContext
import numpy as np

In [58]:
from google.colab import files
files.upload()

Saving Server Mongo Atlas.txt to Server Mongo Atlas.txt

{'Server Mongo Atlas.txt': b'mongodb+srv://admin:root@cluster0.zblzd.mongodb.net/?retryWrites=true&w=majority\n\nmongoimport --host cluster0-shard-00-01.zblzd.mongodb.net:27017 --db terroristAttack_db --collection terroristAttack --type csv --file terroristAttack_db.csv --authenticationDatabase admin --ssl --username admin --password root\nmongoimport --host=cluster0-shard-00-01.zblzd.mongodb.net:27017 --db terrorismAttack_db --collection terrorismAttack --type csv --file terrorismAttack_db.csv --headerline --authenticationDatabase admin --ssl --username admin --password root\n\nmongoimport --host=cluster0-shard-00-01.zblzd.mongodb.net:27017 --db TerrorismAttack_db --collection TerrorismAttack --type csv --file terrorismAttack_db.csv --headerline --authenticationDatabase admin --ssl --username admin --password root \n\nmongoimport --host terrorismcluster-shard-00-02.miafv.mongodb.net:27017 --db terrorismAttack_db --collection terrorismAttack --type csv --file terrorismAttack_db.csv --headerline --authenticationDatabase admin --ssl --username admin --password root \n\nmongoimport --host terrorismcluster-shard-00-02.miafv.mongodb.net:27017 --db terrorismAttack_db --collection terrorismAttack --type csv --file streaming.csv --headerline --authenticationDatabase admin --ssl --username admin --password root \n\nmongoimport --host localhost:27017 --db terrorismAttack_db --collection terrorismAttack --type csv --file a.csv --headerline \n\nmongosh "mongodb+srv://cluster0.zblzd.mongodb.net/myFirstDatabase" --apiVersion 1 --username admin\n\n\n\nabcdefghijklmnopqrstuvwxyz\n\nmongoimport --host terrorismcluster-shard-00-02.miafv.mongodb.net:27017 --db terrorismAttack_db --collection terrorismAttack --type json --file /home/papealygaye/Desktop/s2.json --headerline --authenticationDatabase admin --ssl --username admin --password root '}

In [59]:
rdd = sc.textFile("Server Mongo Atlas.txt")
type(rdd)

pyspark.rdd.RDD

In [60]:
rdd.collect()

['mongodb+srv://admin:root@cluster0.zblzd.mongodb.net/?retryWrites=true&w=majority',
 '',
 'mongoimport --host cluster0-shard-00-01.zblzd.mongodb.net:27017 --db terroristAttack_db --collection terroristAttack --type csv --file terroristAttack_db.csv --authenticationDatabase admin --ssl --username admin --password root',
 'mongoimport --host=cluster0-shard-00-01.zblzd.mongodb.net:27017 --db terrorismAttack_db --collection terrorismAttack --type csv --file terrorismAttack_db.csv --headerline --authenticationDatabase admin --ssl --username admin --password root',
 '',
 'mongoimport --host=cluster0-shard-00-01.zblzd.mongodb.net:27017 --db TerrorismAttack_db --collection TerrorismAttack --type csv --file terrorismAttack_db.csv --headerline --authenticationDatabase admin --ssl --username admin --password root ',
 '',
 'mongoimport --host terrorismcluster-shard-00-02.miafv.mongodb.net:27017 --db terrorismAttack_db --collection terrorismAttack --type csv --file terrorismAttack_db.csv --headerline --authenticationDatabase admin --ssl --username admin --password root ',
 '',
 'mongoimport --host terrorismcluster-shard-00-02.miafv.mongodb.net:27017 --db terrorismAttack_db --collection terrorismAttack --type csv --file streaming.csv --headerline --authenticationDatabase admin --ssl --username admin --password root ',
 '',
 'mongoimport --host localhost:27017 --db terrorismAttack_db --collection terrorismAttack --type csv --file a.csv --headerline ',
 '',
 'mongosh "mongodb+srv://cluster0.zblzd.mongodb.net/myFirstDatabase" --apiVersion 1 --username admin',
 '',
 '',
 '',
 'abcdefghijklmnopqrstuvwxyz',
 '',
 'mongoimport --host terrorismcluster-shard-00-02.miafv.mongodb.net:27017 --db terrorismAttack_db --collection terrorismAttack --type json --file /home/papealygaye/Desktop/s2.json --headerline --authenticationDatabase admin --ssl --username admin --password root ']

In [61]:
liste = np.random.randint(0,100,10)
liste

array([66,  0, 62, 36, 19, 98, 42, 87, 91, 13])

In [62]:
rdd_2 = sc.parallelize(liste)

In [63]:
rdd_2.collect()

[66, 0, 62, 36, 19, 98, 42, 87, 91, 13]

In [64]:
rdd_2.glom().collect()

[[66, 0, 62, 36, 19], [98, 42, 87, 91, 13]]

In [65]:
rdd_2.count()

10

In [66]:
rdd_2.countByValue()

defaultdict(int,
            {66: 1,
             0: 1,
             62: 1,
             36: 1,
             19: 1,
             98: 1,
             42: 1,
             87: 1,
             91: 1,
             13: 1})

In [67]:
rdd_2.first()

66

In [68]:
rdd_2.reduce(lambda x, y : x if x > y else y)

98

### Transformation RDD

In [69]:
rdd = sc.parallelize(range(1, 10))

In [70]:
rdd_1 = rdd.map(lambda x: (x, 'a'*x))
rdd_1.collect()

[(1, 'a'),
 (2, 'aa'),
 (3, 'aaa'),
 (4, 'aaaa'),
 (5, 'aaaaa'),
 (6, 'aaaaaa'),
 (7, 'aaaaaaa'),
 (8, 'aaaaaaaa'),
 (9, 'aaaaaaaaa')]

In [71]:
rdd_2 = rdd.filter(lambda x: x % 2 == 0)
rdd_2.collect()

[2, 4, 6, 8]

In [72]:
rdd_3 = rdd_2.flatMap(lambda x: [(x, 2*x), (-x, 3*x)])
rdd_3.collect()

[(2, 4), (-2, 6), (4, 8), (-4, 12), (6, 12), (-6, 18), (8, 16), (-8, 24)]

In [73]:
rdd_4 = sc.parallelize([("a", 1), ("b", 2)])
rdd_5 = sc.parallelize([("b", 2), ("b", 4)])
sorted(rdd_4.join(rdd_5).collect())

[('b', (2, 2)), ('b', (2, 4))]

In [74]:
rdd_6= rdd_4.union(rdd_5)
rdd_6.collect()

[('a', 1), ('b', 2), ('b', 2), ('b', 4)]

In [75]:
rdd_6.distinct().collect()

[('a', 1), ('b', 2), ('b', 4)]

# MLib

### Encodage PySpark

In [76]:
import pandas as pd

df = pd.DataFrame({'Salarié': ['Eric', 'Elise', 'Hapsa', 'Xin'], 'Genre': ['Homme', 'Femme', 'Femme', 'Homme'], 'groupe': ['Technicien',  'Ingénieur','PhD', 
     'Technicien'],'date_embauche': [2016, 1988, 2012, 2001], 'salaire': [30000, 100000, 60000, 60000]})
df

  Salarié  Genre      groupe  date_embauche  salaire
0    Eric  Homme  Technicien           2016    30000
1   Elise  Femme   Ingénieur           1988   100000
2   Hapsa  Femme         PhD           2012    60000
3     Xin  Homme  Technicien           2001    60000

In [77]:
df1 = spark.createDataFrame(df)
df1.show()

+-------+-----+----------+-------------+-------+
|Salarié|Genre|    groupe|date_embauche|salaire|
+-------+-----+----------+-------------+-------+
|   Eric|Homme|Technicien|         2016|  30000|
|  Elise|Femme| Ingénieur|         1988| 100000|
|  Hapsa|Femme|       PhD|         2012|  60000|
|    Xin|Homme|Technicien|         2001|  60000|
+-------+-----+----------+-------------+-------+

In [78]:
# Encidage numérique
from pyspark.ml.feature import StringIndexer
Genre_index = StringIndexer(inputCol="Genre", outputCol="Genre_num").fit(df1)
df1 = Genre_index.transform(df1)
df1.show()

+-------+-----+----------+-------------+-------+---------+
|Salarié|Genre|    groupe|date_embauche|salaire|Genre_num|
+-------+-----+----------+-------------+-------+---------+
|   Eric|Homme|Technicien|         2016|  30000|      1.0|
|  Elise|Femme| Ingénieur|         1988| 100000|      0.0|
|  Hapsa|Femme|       PhD|         2012|  60000|      0.0|
|    Xin|Homme|Technicien|         2001|  60000|      1.0|
+-------+-----+----------+-------------+-------+---------+

In [79]:
# Encodage 
from pyspark.ml.feature import StringIndexer
groupe_index = StringIndexer(inputCol="groupe", outputCol="groupe_num").fit(df1)
df1 = groupe_index.transform(df1)

from pyspark.ml.feature import OneHotEncoder
groupe_encod = OneHotEncoder(inputCol="groupe_num", outputCol="groupe_vecteur")
df1 = groupe_encod.transform(df1)
df1.show()

+-------+-----+----------+-------------+-------+---------+----------+--------------+
|Salarié|Genre|    groupe|date_embauche|salaire|Genre_num|groupe_num|groupe_vecteur|
+-------+-----+----------+-------------+-------+---------+----------+--------------+
|   Eric|Homme|Technicien|         2016|  30000|      1.0|       0.0| (2,[0],[1.0])|
|  Elise|Femme| Ingénieur|         1988| 100000|      0.0|       2.0|     (2,[],[])|
|  Hapsa|Femme|       PhD|         2012|  60000|      0.0|       1.0| (2,[1],[1.0])|
|    Xin|Homme|Technicien|         2001|  60000|      1.0|       0.0| (2,[0],[1.0])|
+-------+-----+----------+-------------+-------+---------+----------+--------------+

### Mise a l'echelle

In [80]:
import findspark
findspark.init()
from pyspark import SparkContext

sc = SparkContext.getOrCreate()

import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [81]:
import pandas as pd
d = {'x': [7, 17, 27, 37, 47, 57], 'y': [7, 18, 16, 24, 22, 30], 'z': [17, 12, 19, 24, 22, 45]}
df = pd.DataFrame(data=d)
df1=spark.createDataFrame(df)
df1.show()

+---+---+---+
|  x|  y|  z|
+---+---+---+
|  7|  7| 17|
| 17| 18| 12|
| 27| 16| 19|
| 37| 24| 24|
| 47| 22| 22|
| 57| 30| 45|
+---+---+---+

In [82]:
from pyspark.ml.feature import VectorAssembler
assembleur = VectorAssembler(inputCols=df1.columns, outputCol="caractéristiques")
df_nouv=assembleur.transform(df1)
df_nouv.show()

+---+---+---+----------------+
|  x|  y|  z|caractéristiques|
+---+---+---+----------------+
|  7|  7| 17|  [7.0,7.0,17.0]|
| 17| 18| 12|[17.0,18.0,12.0]|
| 27| 16| 19|[27.0,16.0,19.0]|
| 37| 24| 24|[37.0,24.0,24.0]|
| 47| 22| 22|[47.0,22.0,22.0]|
| 57| 30| 45|[57.0,30.0,45.0]|
+---+---+---+----------------+

In [83]:
from pyspark.ml.feature import MinMaxScaler

scaler = MinMaxScaler (inputCol="caractéristiques", outputCol="mise_à_l_échelle")

scaler_model = scaler.fit(df_nouv)
scaled_data = scaler_model.transform(df_nouv)
scaled_data.select("caractéristiques",'mise_à_l_échelle').show(truncate=False)

+----------------+--------------------------------------------+
|caractéristiques|mise_à_l_échelle                            |
+----------------+--------------------------------------------+
|[7.0,7.0,17.0]  |[0.0,0.0,0.15151515151515152]               |
|[17.0,18.0,12.0]|[0.2,0.4782608695652174,0.0]                |
|[27.0,16.0,19.0]|[0.4,0.391304347826087,0.21212121212121213] |
|[37.0,24.0,24.0]|[0.6,0.7391304347826086,0.36363636363636365]|
|[47.0,22.0,22.0]|[0.8,0.6521739130434783,0.30303030303030304]|
|[57.0,30.0,45.0]|[1.0,1.0,1.0]                               |
+----------------+--------------------------------------------+

###Correlation Pearson

In [84]:
import pandas as pd
d = {'x': [7, 17, 27, 37, 47, 57], 'y': [7, 18, 16, 24, 22, 30]}
df = pd.DataFrame(data=d)
df

    x   y
0   7   7
1  17  18
2  27  16
3  37  24
4  47  22
5  57  30

In [85]:
df1 = spark.createDataFrame(df)
df1.show()

+---+---+
|  x|  y|
+---+---+
|  7|  7|
| 17| 18|
| 27| 16|
| 37| 24|
| 47| 22|
| 57| 30|
+---+---+

In [86]:
from pyspark.ml.feature import VectorAssembler
assembleur = VectorAssembler(inputCols=df1.columns, outputCol="caractéristiques")
df_nouv = assembleur.transform(df1)
df_nouv.show()

+---+---+----------------+
|  x|  y|caractéristiques|
+---+---+----------------+
|  7|  7|       [7.0,7.0]|
| 17| 18|     [17.0,18.0]|
| 27| 16|     [27.0,16.0]|
| 37| 24|     [37.0,24.0]|
| 47| 22|     [47.0,22.0]|
| 57| 30|     [57.0,30.0]|
+---+---+----------------+

In [87]:
from pyspark.ml.stat import Correlation
pearson_corr = Correlation.corr(df_nouv,'caractéristiques')
pearson_corr.show(2,False)

+---------------------------------------------------------------------------------+
|pearson(caractéristiques)                                                        |
+---------------------------------------------------------------------------------+
|1.0                 0.9201575383978458
0.9201575383978458  1.0                 |
+---------------------------------------------------------------------------------+

In [88]:
spearman_corr=Correlation.corr(df_nouv,'caractéristiques',"spearman")
spearman_corr.show(2,False)

+---------------------------------------------------------------------------------+
|spearman(caractéristiques)                                                       |
+---------------------------------------------------------------------------------+
|1.0                 0.8857142857142843
0.8857142857142843  1.0                 |
+---------------------------------------------------------------------------------+

### Régression Linéaire

In [89]:
import pandas as pd
d = {'x': [7, 17, 27, 37, 47, 57,67,77,87,97,107,117,127,137, 147], 'label': [7, 18, 16, 24, 22, 30, 28, 36, 34, 42, 40, 48, 46, 54, 52]}
df = pd.DataFrame(data=d)
df

      x  label
0     7      7
1    17     18
2    27     16
3    37     24
4    47     22
5    57     30
6    67     28
7    77     36
8    87     34
9    97     42
10  107     40
11  117     48
12  127     46
13  137     54
14  147     52

In [90]:
df1 = spark.createDataFrame(df)
df1.show()

+---+-----+
|  x|label|
+---+-----+
|  7|    7|
| 17|   18|
| 27|   16|
| 37|   24|
| 47|   22|
| 57|   30|
| 67|   28|
| 77|   36|
| 87|   34|
| 97|   42|
|107|   40|
|117|   48|
|127|   46|
|137|   54|
|147|   52|
+---+-----+

In [91]:
df1.columns

['x', 'label']

In [92]:
from pyspark.ml.linalg import Vector
from pyspark.ml.feature import VectorAssembler

assembleur = VectorAssembler(inputCols=['x'], outputCol='features')
df_nouv = assembleur.transform(df1)
df_nouv.printSchema()

root
 |-- x: long (nullable = true)
 |-- label: long (nullable = true)
 |-- features: vector (nullable = true)

In [93]:
df_nouv.select(['features','label']).show()

+--------+-----+
|features|label|
+--------+-----+
|   [7.0]|    7|
|  [17.0]|   18|
|  [27.0]|   16|
|  [37.0]|   24|
|  [47.0]|   22|
|  [57.0]|   30|
|  [67.0]|   28|
|  [77.0]|   36|
|  [87.0]|   34|
|  [97.0]|   42|
| [107.0]|   40|
| [117.0]|   48|
| [127.0]|   46|
| [137.0]|   54|
| [147.0]|   52|
+--------+-----+

In [100]:
train, test = df_nouv.randomSplit([0.75, 0.25])
print(f"Taille données d'apprentissage : {train.count()}" )
print(f"Taille données de test : {test.count()}" )

Taille données d'apprentissage : 12
Taille données de test : 3

In [101]:
train.show()

test.show()

+---+-----+--------+
|  x|label|features|
+---+-----+--------+
| 17|   18|  [17.0]|
| 27|   16|  [27.0]|
| 37|   24|  [37.0]|
| 47|   22|  [47.0]|
| 67|   28|  [67.0]|
| 77|   36|  [77.0]|
| 87|   34|  [87.0]|
| 97|   42|  [97.0]|
|107|   40| [107.0]|
|117|   48| [117.0]|
|137|   54| [137.0]|
|147|   52| [147.0]|
+---+-----+--------+

+---+-----+--------+
|  x|label|features|
+---+-----+--------+
|  7|    7|   [7.0]|
| 57|   30|  [57.0]|
|127|   46| [127.0]|
+---+-----+--------+

In [102]:
from pyspark.ml.regression import LinearRegression
lr = LinearRegression()
lr_model = lr.fit(train)

In [103]:
pred_df = lr_model.transform(test)
pred_df.show()

+---+-----+--------+------------------+
|  x|label|features|        prediction|
+---+-----+--------+------------------+
|  7|    7|   [7.0]|12.499999999999966|
| 57|   30|  [57.0]| 27.49999999999999|
|127|   46| [127.0]| 48.50000000000003|
+---+-----+--------+------------------+

### ML with load_diabetes

In [148]:
from sklearn.datasets import load_diabetes

In [149]:
data = load_diabetes().data
target = load_diabetes().target

In [150]:
data = pd.DataFrame(data)
target = pd.DataFrame(data=target, columns=["label"])

df = pd.concat([data, target], axis=1)
df.head()

,0,1,2,3,4,5,6,7,8,9,label
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0

In [151]:
df1 = spark.createDataFrame(df)
df1.show()

+--------------------+------------------+--------------------+--------------------+--------------------+--------------------+-------------------+--------------------+-------------------+--------------------+-----+
|                   0|                 1|                   2|                   3|                   4|                   5|                  6|                   7|                  8|                   9|label|
+--------------------+------------------+--------------------+--------------------+--------------------+--------------------+-------------------+--------------------+-------------------+--------------------+-----+
|  0.0380759064334241|0.0506801187398187|  0.0616962065186885|  0.0218723549949558| -0.0442234984244464| -0.0348207628376986|-0.0434008456520269|-0.00259226199818282| 0.0199084208763183| -0.0176461251598052|151.0|
|-0.00188201652779104|-0.044641636506989| -0.0514740612388061| -0.0263278347173518|-0.00844872411121698|  -0.019163339748222| 0.0744115640787594| -0.0394933828740919|-0.0683297436244215|   -0.09220404962683| 75.0|
|  0.0852989062966783|0.0506801187398187|  0.0444512133365941|-0.00567061055493425| -0.0455994512826475| -0.0341944659141195|-0.0323559322397657|-0.00259226199818282|0.00286377051894013| -0.0259303389894746|141.0|
| -0.0890629393522603|-0.044641636506989| -0.0115950145052127| -0.0366564467985606|     0.0121905687618|  0.0249905933641021|-0.0360375700438527|  0.0343088588777263| 0.0226920225667445| -0.0093619113301358|206.0|
| 0.00538306037424807|-0.044641636506989| -0.0363846922044735|  0.0218723549949558| 0.00393485161259318|  0.0155961395104161| 0.0081420836051921|-0.00259226199818282|-0.0319914449413559| -0.0466408735636482|135.0|
| -0.0926954778032799|-0.044641636506989| -0.0406959404999971| -0.0194420933298793| -0.0689906498720667| -0.0792878444118122| 0.0412768238419757|  -0.076394503750001|-0.0411803851880079| -0.0963461565416647| 97.0|
| -0.0454724779400257|0.0506801187398187| -0.0471628129432825|  -0.015999222636143|  -0.040095639849843| -0.0248000120604336|7.78807997017968E-4| -0.0394933828740919|-0.0629129499162512| -0.0383566597339788|138.0|
|   0.063503675590561|0.0506801187398187|-0.00189470584028465|  0.0666296740135272|  0.0906198816792644|   0.108914381123697| 0.0228686348215404|  0.0177033544835672|-0.0358167281015492| 0.00306440941436832| 63.0|
|  0.0417084448844436|0.0506801187398187|  0.0616962065186885| -0.0400993174922969| -0.0139525355440215| 0.00620168565673016|-0.0286742944356786|-0.00259226199818282|-0.0149564750249113|  0.0113486232440377|110.0|
| -0.0709002470971626|-0.044641636506989|  0.0390621529671896| -0.0332135761048244| -0.0125765826858204|  -0.034507614375909|-0.0249926566315915|-0.00259226199818282| 0.0677363261102861| -0.0135040182449705|310.0|
| -0.0963280162542995|-0.044641636506989| -0.0838084234552331|  0.0081008722200108|  -0.103389471327095| -0.0905611890362353|-0.0139477432193303|  -0.076394503750001|-0.0629129499162512| -0.0342145528191441|101.0|
|  0.0271782910803654|0.0506801187398187|  0.0175059114895716| -0.0332135761048244|-0.00707277125301585|  0.0459715403040008|-0.0654906724765493|  0.0712099797536354| -0.096433222891784| -0.0590671943081523| 69.0|
|  0.0162806757273067|-0.044641636506989| -0.0288400076873072|-0.00911348124867051|-0.00432086553661359|-0.00976888589453599| 0.0449584616460628| -0.0394933828740919|-0.0307512098645563| -0.0424987666488135|179.0|
| 0.00538306037424807|0.0506801187398187|-0.00189470584028465|  0.0081008722200108|-0.00432086553661359| -0.0157187066685371|-0.0029028298070691|-0.00259226199818282| 0.0383932482116977| -0.0135040182449705|185.0|
|  0.0453409833354632|-0.044641636506989| -0.0256065714656645| -0.0125563519424068|  0.0176943801946045|-6.12835790604833E-5| 0.0817748396869335| -0.0394933828740919|-0.0319914449413559| -0.0756356219674911|118.0|
| -0.0527375548420648|0.0506801187398187| -0.0180618869484982|  0.0804011567884723|  0.0892439288210632|   0.107661787276539|-0.0397192078479398|   0.108111100629544| 0.0360557900898319| -0.0424987666488135|171.0|
|-0.00551455497881059|-0.044641636506989|  0.0422955891888323|  0.0494153205448459|  0.0245741444856101| -0.0238605666750649| 0.0744115640787594| -0.0394933828740919| 0.0522799997967812|  0.0279170509033766|166.0|
|     0.0707687524926|0.0506801187398187|  0.0121168511201671|  0.0563010619323185|   0.034205814493018|  0.0494161733836856|-0.0397192078479398|  0.0343088588777263|  0.027367707542609|-0.00107769750046639|144.0|
| -0.0382074010379866|-0.044641636506989| -0.0105172024313319| -0.0366564467985606| -0.0373437341334407| -0.0194764882100115|-0.0286742944356786|-0.00259226199818282|-0.0181182673078967| -0.0176461251598052| 97.0|
| -0.0273097856849279|-0.044641636506989| -0.0180618869484982| -0.0400993174922969|-0.00294491267841247| -0.0113346282034837| 0.0375951860378887| -0.0394933828740919|-0.0089440189577978| -0.0549250873933176|168.0|
+--------------------+------------------+--------------------+--------------------+--------------------+--------------------+-------------------+--------------------+-------------------+--------------------+-----+
only showing top 20 rows

In [152]:
assembleur = VectorAssembler(inputCols=['1', "2", "3", '4', "5", "6", '7', "8", "9"], outputCol='features')
df_nouv = assembleur.transform(df1)
df_nouv.printSchema()

root
 |-- 0: double (nullable = true)
 |-- 1: double (nullable = true)
 |-- 2: double (nullable = true)
 |-- 3: double (nullable = true)
 |-- 4: double (nullable = true)
 |-- 5: double (nullable = true)
 |-- 6: double (nullable = true)
 |-- 7: double (nullable = true)
 |-- 8: double (nullable = true)
 |-- 9: double (nullable = true)
 |-- label: double (nullable = true)
 |-- features: vector (nullable = true)

In [153]:
df_nouv.show()

+--------------------+------------------+--------------------+--------------------+--------------------+--------------------+-------------------+--------------------+-------------------+--------------------+-----+--------------------+
|                   0|                 1|                   2|                   3|                   4|                   5|                  6|                   7|                  8|                   9|label|            features|
+--------------------+------------------+--------------------+--------------------+--------------------+--------------------+-------------------+--------------------+-------------------+--------------------+-----+--------------------+
|  0.0380759064334241|0.0506801187398187|  0.0616962065186885|  0.0218723549949558| -0.0442234984244464| -0.0348207628376986|-0.0434008456520269|-0.00259226199818282| 0.0199084208763183| -0.0176461251598052|151.0|[0.05068011873981...|
|-0.00188201652779104|-0.044641636506989| -0.0514740612388061| -0.0263278347173518|-0.00844872411121698|  -0.019163339748222| 0.0744115640787594| -0.0394933828740919|-0.0683297436244215|   -0.09220404962683| 75.0|[-0.0446416365069...|
|  0.0852989062966783|0.0506801187398187|  0.0444512133365941|-0.00567061055493425| -0.0455994512826475| -0.0341944659141195|-0.0323559322397657|-0.00259226199818282|0.00286377051894013| -0.0259303389894746|141.0|[0.05068011873981...|
| -0.0890629393522603|-0.044641636506989| -0.0115950145052127| -0.0366564467985606|     0.0121905687618|  0.0249905933641021|-0.0360375700438527|  0.0343088588777263| 0.0226920225667445| -0.0093619113301358|206.0|[-0.0446416365069...|
| 0.00538306037424807|-0.044641636506989| -0.0363846922044735|  0.0218723549949558| 0.00393485161259318|  0.0155961395104161| 0.0081420836051921|-0.00259226199818282|-0.0319914449413559| -0.0466408735636482|135.0|[-0.0446416365069...|
| -0.0926954778032799|-0.044641636506989| -0.0406959404999971| -0.0194420933298793| -0.0689906498720667| -0.0792878444118122| 0.0412768238419757|  -0.076394503750001|-0.0411803851880079| -0.0963461565416647| 97.0|[-0.0446416365069...|
| -0.0454724779400257|0.0506801187398187| -0.0471628129432825|  -0.015999222636143|  -0.040095639849843| -0.0248000120604336|7.78807997017968E-4| -0.0394933828740919|-0.0629129499162512| -0.0383566597339788|138.0|[0.05068011873981...|
|   0.063503675590561|0.0506801187398187|-0.00189470584028465|  0.0666296740135272|  0.0906198816792644|   0.108914381123697| 0.0228686348215404|  0.0177033544835672|-0.0358167281015492| 0.00306440941436832| 63.0|[0.05068011873981...|
|  0.0417084448844436|0.0506801187398187|  0.0616962065186885| -0.0400993174922969| -0.0139525355440215| 0.00620168565673016|-0.0286742944356786|-0.00259226199818282|-0.0149564750249113|  0.0113486232440377|110.0|[0.05068011873981...|
| -0.0709002470971626|-0.044641636506989|  0.0390621529671896| -0.0332135761048244| -0.0125765826858204|  -0.034507614375909|-0.0249926566315915|-0.00259226199818282| 0.0677363261102861| -0.0135040182449705|310.0|[-0.0446416365069...|
| -0.0963280162542995|-0.044641636506989| -0.0838084234552331|  0.0081008722200108|  -0.103389471327095| -0.0905611890362353|-0.0139477432193303|  -0.076394503750001|-0.0629129499162512| -0.0342145528191441|101.0|[-0.0446416365069...|
|  0.0271782910803654|0.0506801187398187|  0.0175059114895716| -0.0332135761048244|-0.00707277125301585|  0.0459715403040008|-0.0654906724765493|  0.0712099797536354| -0.096433222891784| -0.0590671943081523| 69.0|[0.05068011873981...|
|  0.0162806757273067|-0.044641636506989| -0.0288400076873072|-0.00911348124867051|-0.00432086553661359|-0.00976888589453599| 0.0449584616460628| -0.0394933828740919|-0.0307512098645563| -0.0424987666488135|179.0|[-0.0446416365069...|
| 0.00538306037424807|0.0506801187398187|-0.00189470584028465|  0.0081008722200108|-0.00432086553661359| -0.0157187066685371|-0.0029028298070691|-0.00259226199818282| 0.0383932482116977| -0.0135040182449705|185.0|[0.05068011873981...|
|  0.0453409833354632|-0.044641636506989| -0.0256065714656645| -0.0125563519424068|  0.0176943801946045|-6.12835790604833E-5| 0.0817748396869335| -0.0394933828740919|-0.0319914449413559| -0.0756356219674911|118.0|[-0.0446416365069...|
| -0.0527375548420648|0.0506801187398187| -0.0180618869484982|  0.0804011567884723|  0.0892439288210632|   0.107661787276539|-0.0397192078479398|   0.108111100629544| 0.0360557900898319| -0.0424987666488135|171.0|[0.05068011873981...|
|-0.00551455497881059|-0.044641636506989|  0.0422955891888323|  0.0494153205448459|  0.0245741444856101| -0.0238605666750649| 0.0744115640787594| -0.0394933828740919| 0.0522799997967812|  0.0279170509033766|166.0|[-0.0446416365069...|
|     0.0707687524926|0.0506801187398187|  0.0121168511201671|  0.0563010619323185|   0.034205814493018|  0.0494161733836856|-0.0397192078479398|  0.0343088588777263|  0.027367707542609|-0.00107769750046639|144.0|[0.05068011873981...|
| -0.0382074010379866|-0.044641636506989| -0.0105172024313319| -0.0366564467985606| -0.0373437341334407| -0.0194764882100115|-0.0286742944356786|-0.00259226199818282|-0.0181182673078967| -0.0176461251598052| 97.0|[-0.0446416365069...|
| -0.0273097856849279|-0.044641636506989| -0.0180618869484982| -0.0400993174922969|-0.00294491267841247| -0.0113346282034837| 0.0375951860378887| -0.0394933828740919|-0.0089440189577978| -0.0549250873933176|168.0|[-0.0446416365069...|
+--------------------+------------------+--------------------+--------------------+--------------------+--------------------+-------------------+--------------------+-------------------+--------------------+-----+--------------------+
only showing top 20 rows

In [154]:
train, test = df_nouv.randomSplit([0.75, 0.25])
print(f"Taille données d'apprentissage : {train.count()}" )
print(f"Taille données de test : {test.count()}" )

Taille données d'apprentissage : 341
Taille données de test : 101

In [155]:
train.show()

test.show()

+-------------------+------------------+--------------------+--------------------+--------------------+-------------------+-------------------+--------------------+-------------------+--------------------+-----+--------------------+
|                  0|                 1|                   2|                   3|                   4|                  5|                  6|                   7|                  8|                   9|label|            features|
+-------------------+------------------+--------------------+--------------------+--------------------+-------------------+-------------------+--------------------+-------------------+--------------------+-----+--------------------+
| -0.103593093156339|-0.044641636506989| -0.0374625042783544| -0.0263278347173518| 0.00255889875439205| 0.0199802179754696| 0.0118237214092792|-0.00259226199818282|-0.0683297436244215| -0.0259303389894746|113.0|[-0.0446416365069...|
| -0.099960554705319|-0.044641636506989| -0.0676412423470196|  -0.108956731367022| -0.0744944613048712| -0.072711726714232| 0.0155053592133662| -0.0394933828740919|-0.0498684677352306| -0.0093619113301358| 55.0|[-0.0446416365069...|
|-0.0963280162542995|-0.044641636506989| -0.0838084234552331|  0.0081008722200108|  -0.103389471327095|-0.0905611890362353|-0.0139477432193303|  -0.076394503750001|-0.0629129499162512| -0.0342145528191441|101.0|[-0.0446416365069...|
|-0.0963280162542995|-0.044641636506989| -0.0762637389380668| -0.0435421881860331| -0.0455994512826475|-0.0348207628376986| 0.0081420836051921| -0.0394933828740919|-0.0594726974107223| -0.0839198357971606|134.0|[-0.0446416365069...|
|-0.0963280162542995|-0.044641636506989| -0.0697968664947814|  -0.067642283042187|  -0.019456346976826|-0.0107083312799046| 0.0155053592133662| -0.0394933828740919|-0.0468794828442166| -0.0797777288823259|158.0|[-0.0446416365069...|
|-0.0963280162542995|-0.044641636506989| -0.0363846922044735| -0.0745280244296595| -0.0387196869916418|-0.0276183482165393| 0.0155053592133662| -0.0394933828740919|-0.0740888714915354|-0.00107769750046639|200.0|[-0.0446416365069...|
|-0.0926954778032799|-0.044641636506989| -0.0816527993074713| -0.0573136709609782| -0.0607349327228599| -0.068014499787389| 0.0486400994501499|  -0.076394503750001|-0.0664881482228354| -0.0217882320746399| 85.0|[-0.0446416365069...|
|-0.0890629393522603|-0.044641636506989| -0.0611743699037342| -0.0263278347173518| -0.0552311212900554|-0.0545491159304391| 0.0412768238419757|  -0.076394503750001|-0.0939356455087147| -0.0549250873933176| 99.0|[-0.0446416365069...|
|-0.0890629393522603|-0.044641636506989|  -0.041773752573878| -0.0194420933298793| -0.0662387441556644|-0.0742774690231797| 0.0081420836051921| -0.0394933828740919|0.00114379737951254| -0.0300724459043093|185.0|[-0.0446416365069...|
|-0.0890629393522603|-0.044641636506989| -0.0115950145052127| -0.0366564467985606|     0.0121905687618| 0.0249905933641021|-0.0360375700438527|  0.0343088588777263| 0.0226920225667445| -0.0093619113301358|206.0|[-0.0446416365069...|
|-0.0854304009012408|-0.044641636506989|-0.00405032998804645|-0.00911348124867051|-0.00294491267841247|0.00776742796567782| 0.0228686348215404| -0.0394933828740919|-0.0611765950943345| -0.0135040182449705| 68.0|[-0.0446416365069...|
|-0.0854304009012408|-0.044641636506989|  0.0207393477112143| -0.0263278347173518| 0.00531080447079431|   0.01966706951368|-0.0029028298070691|-0.00259226199818282|-0.0236445575721341| 0.00306440941436832|246.0|[-0.0446416365069...|
|-0.0854304009012408|0.0506801187398187| -0.0223731352440218| 0.00121513083253827| -0.0373437341334407|-0.0263657543693812| 0.0155053592133662| -0.0394933828740919| -0.072128454601956| -0.0176461251598052| 49.0|[0.05068011873981...|
|-0.0781653239992017|-0.044641636506989| -0.0730303027164241| -0.0573136709609782| -0.0841261313122791|-0.0742774690231797|-0.0249926566315915| -0.0394933828740919|-0.0181182673078967| -0.0839198357971606|142.0|[-0.0446416365069...|
|-0.0781653239992017|-0.044641636506989| -0.0169840748746173| -0.0125563519424068|-1.93006962010205E-4|-0.0135266674360104| 0.0707299262746723| -0.0394933828740919|-0.0411803851880079|   -0.09220404962683| 90.0|[-0.0446416365069...|
|-0.0745327855481821|-0.044641636506989|  0.0433734012627132| -0.0332135761048244|     0.0121905687618|2.51864882729031E-4| 0.0633666506664982| -0.0394933828740919|-0.0271286455543265| -0.0466408735636482|103.0|[-0.0446416365069...|
|-0.0745327855481821|0.0506801187398187| -0.0180618869484982|  0.0081008722200108|  -0.019456346976826|-0.0248000120604336|-0.0654906724765493|  0.0343088588777263| 0.0673172179146849| -0.0176461251598052|101.0|[0.05068011873981...|
|-0.0709002470971626|-0.044641636506989| -0.0579409336820915|  -0.081413765817132| -0.0455994512826475|-0.0288709420636975|-0.0434008456520269|-0.00259226199818282|0.00114379737951254| -0.0052198044153011|162.0|[-0.0446416365069...|
|-0.0709002470971626|-0.044641636506989|-0.00405032998804645| -0.0400993174922969| -0.0662387441556644|-0.0786615474882331|  0.052321737254237|  -0.076394503750001|-0.0514005352605825| -0.0342145528191441| 61.0|[-0.0446416365069...|
|-0.0709002470971626|-0.044641636506989|  0.0390621529671896| -0.0332135761048244| -0.0125765826858204| -0.034507614375909|-0.0249926566315915|-0.00259226199818282| 0.0677363261102861| -0.0135040182449705|310.0|[-0.0446416365069...|
+-------------------+------------------+--------------------+--------------------+--------------------+-------------------+-------------------+--------------------+-------------------+--------------------+-----+--------------------+
only showing top 20 rows

+--------------------+------------------+--------------------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+--------------------+-----+--------------------+
|                   0|                 1|                   2|                   3|                   4|                  5|                   6|                   7|                   8|                   9|label|            features|
+--------------------+------------------+--------------------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+--------------------+-----+--------------------+
|  -0.107225631607358|-0.044641636506989| -0.0773415510119477| -0.0263278347173518| -0.0896299427450836|-0.0961978613484469|  0.0265502726256275|  -0.076394503750001| -0.0425721049227942| -0.0052198044153011|137.0|[-0.0446416365069...|
| -0.0926954778032799|-0.044641636506989| -0.0406959404999971| -0.0194420933298793| -0.0689906498720667|-0.0792878444118122|  0.0412768238419757|  -0.076394503750001| -0.0411803851880079| -0.0963461565416647| 97.0|[-0.0446416365069...|
| -0.0926954778032799|-0.044641636506989|  0.0282840322283806|  -0.015999222636143|  0.0369577202094203| 0.0249905933641021|   0.056003375058324| -0.0394933828740919|-0.00514530798026311|-0.00107769750046639|302.0|[-0.0446416365069...|
| -0.0817978624502212|0.0506801187398187|  0.0422955891888323| -0.0194420933298793|  0.0397096259258226| 0.0575580333902134| -0.0691723102806364|   0.108111100629544|  0.0471861678860197| -0.0383566597339788|137.0|[0.05068011873981...|
|  -0.067267708646143|0.0506801187398187| -0.0126728265790937| -0.0400993174922969| -0.0153284884022226| 0.0046359433477825| -0.0581273968683752|  0.0343088588777263|  0.0191990330785671| -0.0342145528191441|202.0|[0.05068011873981...|
| -0.0636351701951234|-0.044641636506989|  0.0358287167455469| -0.0228849640236156| -0.0304639698424351|-0.0188501912864324|-0.00658446761115617|-0.00259226199818282| -0.0259524244351894| -0.0549250873933176|184.0|[-0.0446416365069...|
| -0.0636351701951234|0.0506801187398187| -0.0794971751597095|-0.00567061055493425|  -0.071742555588469|-0.0664487574784414| -0.0102661054152432| -0.0394933828740919| -0.0181182673078967| -0.0549250873933176|101.0|[0.05068011873981...|
| -0.0527375548420648|0.0506801187398187| -0.0180618869484982|  0.0804011567884723|  0.0892439288210632|  0.107661787276539| -0.0397192078479398|   0.108111100629544|  0.0360557900898319| -0.0424987666488135|171.0|[0.05068011873981...|
| -0.0491050163910452|-0.044641636506989|  -0.064407806125377|   -0.10207098997955|-0.00294491267841247|-0.0154055582067476|  0.0633666506664982| -0.0472426182580328| -0.0332487872476258| -0.0549250873933176| 96.0|[-0.0446416365069...|
| -0.0491050163910452|-0.044641636506989| -0.0568631216082106| -0.0435421881860331| -0.0455994512826475| -0.043275771306016| 7.78807997017968E-4| -0.0394933828740919| -0.0119006848015081|  0.0154907301588724| 68.0|[-0.0446416365069...|
| -0.0454724779400257|-0.044641636506989| -0.0482406250171634| -0.0194420933298793|-1.93006962010205E-4|-0.0160318551303266|  0.0670482884705852| -0.0394933828740919| -0.0247911874324607|  0.0196328370737072|111.0|[-0.0446416365069...|
| -0.0454724779400257|0.0506801187398187| -0.0471628129432825|  -0.015999222636143|  -0.040095639849843|-0.0248000120604336| 7.78807997017968E-4| -0.0394933828740919| -0.0629129499162512| -0.0383566597339788|138.0|[0.05068011873981...|
| -0.0418399394890061|-0.044641636506989| -0.0665634302731387| -0.0469850588797694| -0.0373437341334407| -0.043275771306016|  0.0486400994501499| -0.0394933828740919| -0.0561575730950062| -0.0135040182449705| 59.0|[-0.0446416365069...|
|  -0.034574862586967|-0.044641636506989| -0.0374625042783544| -0.0607565416547144|  0.0204462859110067| 0.0434663526096845| -0.0139477432193303|-0.00259226199818282| -0.0307512098645563| -0.0714935150526564|128.0|[-0.0446416365069...|
|  -0.034574862586967|0.0506801187398187|-8.16893766403737E-4|  0.0700725447072635|  0.0397096259258226| 0.0669524872438994| -0.0654906724765493|   0.108111100629544|  0.0267142576335128|  0.0734802269665584|292.0|[0.05068011873981...|
| -0.0309423241359475|0.0506801187398187| 0.00133873038135806|-0.00567061055493425|  0.0644767773734429| 0.0494161733836856| -0.0470824834561139|   0.108111100629544|  0.0837967663655224| 0.00306440941436832|229.0|[0.05068011873981...|
| -0.0309423241359475|0.0506801187398187|  0.0282840322283806|  0.0700725447072635|  -0.126780669916514| -0.106844909049291| -0.0544457590642881|  -0.047980640675551| -0.0307512098645563|  0.0154907301588724|170.0|[0.05068011873981...|
| -0.0236772472339084|-0.044641636506989| -0.0460850008694016| -0.0332135761048244|  0.0328298616348169| 0.0362639379885253|  0.0375951860378887|-0.00259226199818282| -0.0332487872476258|  0.0113486232440377| 72.0|[-0.0446416365069...|
| -0.0236772472339084|-0.044641636506989|  0.0595405823709267| -0.0400993174922969| -0.0428475455662452|-0.0435889197678055|  0.0118237214092792| -0.0394933828740919| -0.0159982677581387|  0.0403433716478807| 85.0|[-0.0446416365069...|
|-0.00551455497881059|-0.044641636506989|  0.0422955891888323|  0.0494153205448459|  0.0245741444856101|-0.0238605666750649|  0.0744115640787594| -0.0394933828740919|  0.0522799997967812|  0.0279170509033766|166.0|[-0.0446416365069...|
+--------------------+------------------+--------------------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+--------------------+-----+--------------------+
only showing top 20 rows

In [156]:
from pyspark.ml.regression import LinearRegression
lr = LinearRegression()
lr_model = lr.fit(train)

In [157]:
pred_df = lr_model.transform(test)
pred_df.show()

+--------------------+------------------+--------------------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+--------------------+-----+--------------------+------------------+
|                   0|                 1|                   2|                   3|                   4|                  5|                   6|                   7|                   8|                   9|label|            features|        prediction|
+--------------------+------------------+--------------------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+--------------------+-----+--------------------+------------------+
|  -0.107225631607358|-0.044641636506989| -0.0773415510119477| -0.0263278347173518| -0.0896299427450836|-0.0961978613484469|  0.0265502726256275|  -0.076394503750001| -0.0425721049227942| -0.0052198044153011|137.0|[-0.0446416365069...| 95.33294514699418|
| -0.0926954778032799|-0.044641636506989| -0.0406959404999971| -0.0194420933298793| -0.0689906498720667|-0.0792878444118122|  0.0412768238419757|  -0.076394503750001| -0.0411803851880079| -0.0963461565416647| 97.0|[-0.0446416365069...|103.84388575649089|
| -0.0926954778032799|-0.044641636506989|  0.0282840322283806|  -0.015999222636143|  0.0369577202094203| 0.0249905933641021|   0.056003375058324| -0.0394933828740919|-0.00514530798026311|-0.00107769750046639|302.0|[-0.0446416365069...|143.92030569201106|
| -0.0817978624502212|0.0506801187398187|  0.0422955891888323| -0.0194420933298793|  0.0397096259258226| 0.0575580333902134| -0.0691723102806364|   0.108111100629544|  0.0471861678860197| -0.0383566597339788|137.0|[0.05068011873981...|198.43304438597363|
|  -0.067267708646143|0.0506801187398187| -0.0126728265790937| -0.0400993174922969| -0.0153284884022226| 0.0046359433477825| -0.0581273968683752|  0.0343088588777263|  0.0191990330785671| -0.0342145528191441|202.0|[0.05068011873981...|147.10927285774696|
| -0.0636351701951234|-0.044641636506989|  0.0358287167455469| -0.0228849640236156| -0.0304639698424351|-0.0188501912864324|-0.00658446761115617|-0.00259226199818282| -0.0259524244351894| -0.0549250873933176|184.0|[-0.0446416365069...|165.19951236093544|
| -0.0636351701951234|0.0506801187398187| -0.0794971751597095|-0.00567061055493425|  -0.071742555588469|-0.0664487574784414| -0.0102661054152432| -0.0394933828740919| -0.0181182673078967| -0.0549250873933176|101.0|[0.05068011873981...| 96.58796035937837|
| -0.0527375548420648|0.0506801187398187| -0.0180618869484982|  0.0804011567884723|  0.0892439288210632|  0.107661787276539| -0.0397192078479398|   0.108111100629544|  0.0360557900898319| -0.0424987666488135|171.0|[0.05068011873981...|174.51320363902482|
| -0.0491050163910452|-0.044641636506989|  -0.064407806125377|   -0.10207098997955|-0.00294491267841247|-0.0154055582067476|  0.0633666506664982| -0.0472426182580328| -0.0332487872476258| -0.0549250873933176| 96.0|[-0.0446416365069...| 56.70467777950154|
| -0.0491050163910452|-0.044641636506989| -0.0568631216082106| -0.0435421881860331| -0.0455994512826475| -0.043275771306016| 7.78807997017968E-4| -0.0394933828740919| -0.0119006848015081|  0.0154907301588724| 68.0|[-0.0446416365069...|117.50968517377959|
| -0.0454724779400257|-0.044641636506989| -0.0482406250171634| -0.0194420933298793|-1.93006962010205E-4|-0.0160318551303266|  0.0670482884705852| -0.0394933828740919| -0.0247911874324607|  0.0196328370737072|111.0|[-0.0446416365069...|103.54540713493287|
| -0.0454724779400257|0.0506801187398187| -0.0471628129432825|  -0.015999222636143|  -0.040095639849843|-0.0248000120604336| 7.78807997017968E-4| -0.0394933828740919| -0.0629129499162512| -0.0383566597339788|138.0|[0.05068011873981...|  71.6617772896501|
| -0.0418399394890061|-0.044641636506989| -0.0665634302731387| -0.0469850588797694| -0.0373437341334407| -0.043275771306016|  0.0486400994501499| -0.0394933828740919| -0.0561575730950062| -0.0135040182449705| 59.0|[-0.0446416365069...| 75.93353172265019|
|  -0.034574862586967|-0.044641636506989| -0.0374625042783544| -0.0607565416547144|  0.0204462859110067| 0.0434663526096845| -0.0139477432193303|-0.00259226199818282| -0.0307512098645563| -0.0714935150526564|128.0|[-0.0446416365069...| 92.71589839504423|
|  -0.034574862586967|0.0506801187398187|-8.16893766403737E-4|  0.0700725447072635|  0.0397096259258226| 0.0669524872438994| -0.0654906724765493|   0.108111100629544|  0.0267142576335128|  0.0734802269665584|292.0|[0.05068011873981...|201.96710562624554|
| -0.0309423241359475|0.0506801187398187| 0.00133873038135806|-0.00567061055493425|  0.0644767773734429| 0.0494161733836856| -0.0470824834561139|   0.108111100629544|  0.0837967663655224| 0.00306440941436832|229.0|[0.05068011873981...|188.76328638620723|
| -0.0309423241359475|0.0506801187398187|  0.0282840322283806|  0.0700725447072635|  -0.126780669916514| -0.106844909049291| -0.0544457590642881|  -0.047980640675551| -0.0307512098645563|  0.0154907301588724|170.0|[0.05068011873981...|194.42519551797403|
| -0.0236772472339084|-0.044641636506989| -0.0460850008694016| -0.0332135761048244|  0.0328298616348169| 0.0362639379885253|  0.0375951860378887|-0.00259226199818282| -0.0332487872476258|  0.0113486232440377| 72.0|[-0.0446416365069...| 94.47027265862397|
| -0.0236772472339084|-0.044641636506989|  0.0595405823709267| -0.0400993174922969| -0.0428475455662452|-0.0435889197678055|  0.0118237214092792| -0.0394933828740919| -0.0159982677581387|  0.0403433716478807| 85.0|[-0.0446416365069...| 178.5986003332363|
|-0.00551455497881059|-0.044641636506989|  0.0422955891888323|  0.0494153205448459|  0.0245741444856101|-0.0238605666750649|  0.0744115640787594| -0.0394933828740919|  0.0522799997967812|  0.0279170509033766|166.0|[-0.0446416365069...|207.94092638079883|
+--------------------+------------------+--------------------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+--------------------+-----+--------------------+------------------+
only showing top 20 rows